version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql-pizza
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: contosopizza
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
